*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #17202A;
}
header{
    display: flex;
    margin: 36px 192px;
    gap: 34px;
}
h1{
    color: #1D9BF0;
    font-size: 48px;
    font-family: "Jersey 10";
    font-weight: 100;
}

section{
    display: flex;
    width: 100%;
    justify-content: center;
}

.perfil-content{
    background-color: #3A444C;
    border-radius: 10px;
    padding-bottom:23px;
}
.usuario{
    display: flex;
    margin-left: 47px;
    gap: 11px;
}
.usuario img{
    position: relative;
    bottom: 40px;
}
.info-user{
    font-family: "Inter";
    font-weight: 900;
}
.info-user h2{
    font-size: 16px;
    font-weight: 900;
    color: #FFFFFF;
}
.info-user p{
    margin-top: 4px;
    font-size: 14px;
    color: #949494 ;
}
 .mensagem {
    display: flex;
    justify-content: center;
 }

 .mensagem button{
    position: relative;
    top: 3px;
    background: none;
    color: #949494;
    font-size: 16px;
    font-weight: 900;
    font-family: "Inter";
    outline: none;
    margin-bottom: 50px;
 }

 .mensagem button:hover{
    cursor: pointer;
 }

 dialog::backdrop{
    background-color: rgb(0, 0, 0,0.7);
 }

 dialog{
    background: transparent;
    width: 100%;
    height: 100%;
 }

 .modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

 .modal-content{
    background-color: #17202A;
    padding: 42px 41px;
 }

 .modal-content h2{
    color: #949494;
    font-family: "Inter";
    font-weight: 900;
    font-size: 25px;
 }

 .info-modal{
    display: flex;
    flex-direction: column;
    padding-right: 111px;
 }

 label{
    color: #949494;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 5px;
 }
 .info-modal select{
    width: 134px;
    background-color: #D9D9D9;
    padding: 4px 8px;
    outline: none;
    font-family: "Inter";
    color: #949494;
    font-weight: 900;
    font-size: 10px;
    border-radius: 5px;
 }
 .info-modal option{
    font-family: "Inter";
    color: #949494;
    font-weight: 900;
    font-size: 10px;
 }

 .info-modal input{
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 396px;
    color: #000000;
    font-family: "Inter";
    font-size: 13px;
    font-weight: 700;
    outline: none;
 }
 #titulo{
    padding: 4px ;
 }

 textarea{
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 396px;
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    outline: none;
    font-family: "Inter";
 }
 #mensagem {
    resize: none;
    height: 55px;
    
 }

#adicionar {
    margin-top: 20px;
    background-color: #17202A;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 5px 18px;
    width: 100px;
    color: #D9D9D9;
    font-weight: 900;
    font-family: "Inter";
    cursor: pointer;
    font-size: 13px;
 }

 .card{
    display: flex;
    justify-content: center;
    width: 100%;
    
 }

 .card-container {
    background-color: #17202A;
    margin-top: 10px;
    position: relative;
    padding: 13px 15px;
    width: 669px;
    
 }

 .info-card {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
 }
 .info-card img{
    width: 39px;
    height: 39px;
 }
 .user-content{
    display: flex;
    flex-direction: column;
 }

 .user-content h2, .user-content p{
    font-family: "Inter";
    font-weight: 900;
    margin-top: 3px;
 }

 .user-content h2{
    margin-top: 3px;
    font-size: 14px;
    color: #FFFFFF;
 }
 .user-content p{
    font-size: 10px ;
    color: #949494  ;
 }
 .acoes-container {
    display: flex; 
}


 #acoes{
    position: relative;
    left: 450px;
    background: none;
    color: #FFFFFF;
    font-weight: 900;
    cursor: pointer;
 }

.dropdown{
    position: relative;
    left: 455px; 
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.dropdown button{
    background-color: #949494;
    color: #FFFFFF;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 2px;
    margin-top: 2px;
    cursor: pointer;
}

 .mensagem-content{
    margin-top: 5px ;
    font-family: "Inter";
    font-weight: 900;
    color: #FFFFFF;
    margin-left: 45px;
    width: 539px;
 }

 .mensagem-content h3{
    font-size: 18px;
    font-family: "Inter";
    font-weight: 900;
    margin: 5px 0;
 }

 .mensagem-content p{
    font-size: 14px;
 }

 @media (max-width: 834px){
    h1{
        font-size: 37px;
    }

    .usuario img{
        width: 120px;
        height: 120px;
    }
    .info-user h2 {
        font-size: 25px;
    }
    .info-user p{
        font-size: 20px;
    }

    .mensagem button{
        font-size: 25px;
    }

    .info-card img{
        width: 69px;
        height: 69px;
    }
    .user-content h2{
        font-size: 22px;
    }
    .user-content p{
        font-size: 15px;
    }

    .mensagem-content{
        font-size: 22px;
        margin-left: 75px;
        width: 560px;
    }
 }

 @media (max-width: 480px){
    header{
        justify-content: center;
        margin: 40px 30px;
    }
    h1{
        font-size: 29px;
    }

    .perfil-content img{
        width: 100%;
    }

    .usuario{
        margin-bottom: 0px;
    }
    .usuario img{
        width: 59px;
        height: 59;
        
        bottom: 60px;
    }

    .info-user h2{
        font-size: 14px;
    }
    .info-user p{
        font-size: 12px;
        margin-top: 1px;
    }

    .mensagem{
        font-size: 14px;
    }

    .mensagem button{
        font-size: 20px;
    }

    .card-container{
        width: 360px;
    }

    .info-card img{
        width: 29px;
        height: 29px;
    }

    .user-content h2{
        font-size: 13px;
    }

    .user-content p{
        font-size: 9px;
    }
    .mensagem-content{
        width: 300px;
        margin-left: 35px;
        font-size: 13px;
    }

    
 }