*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #17202A;
}
header{
    display: flex;
    margin: 36px 192px;
    gap: 34px;
}
h1{
    color: #1D9BF0;
    font-size: 48px;
    font-family: "Jersey 10";
    font-weight: 100;
}

section{
    display: flex;
    width: 100%;
    justify-content: center;
}

.perfil-content{
    background-color: #3A444C;
    border-radius: 10px;
    padding-bottom:23px;
}
.usuario{
    display: flex;
    margin-left: 47px;
    gap: 11px;
}
.usuario img{
    position: relative;
    bottom: 40px;
}
.info-user{
    font-family: "Inter";
    font-weight: 900;
}
.info-user h2{
    font-size: 16px;
    font-weight: 900;
    color: #FFFFFF;
}
.info-user p{
    margin-top: 4px;
    font-size: 14px;
    color: #949494 ;
}
 .mensagem {
    display: flex;
    justify-content: center;
    gap: 9px;
    color: #949494;
    font-family: "Inter";
 }

 .mensagem button{
    position: relative;
    top: 3px;
    background: none;
    color: #949494;
    font-size: 16px;
    font-weight: 600;
 }

 .mensagem:hover{
    cursor: pointer;
 }

 .card{
    display: flex;
    justify-content: center;
    width: 100%;
    
 }

 .card-container {
    background-color: #17202A;
    margin-top: 50px;
    position: relative;
    padding: 13px 15px;
    width: 669px;
    
 }

 .info-card {
    display: flex;
    align-items: center;
    gap: 7px;
 }
 .info-card img{
    width: 39px;
    height: 39px;
 }
 .user-content{
    display: flex;
    flex-direction: column;
 }

 .user-content h2, .user-content p{
    font-family: "Inter";
    font-weight: 900;
    margin-top: 3px;
 }

 .user-content h2{
    margin-top: 3px;
    font-size: 14px;
    color: #FFFFFF;
 }
 .user-content p{
    font-size: 10px ;
    color: #949494  ;
 }


 .active{
    position: absolute;
    top: 15px;
    right: 25px;
    color: #FFFFFF;
    font-weight: 900;
 }

 .mensagem-content{
    margin-top: 5px ;
    font-family: "Inter";
    font-size: 14px ;
    font-weight: 900;
    color: #FFFFFF;
    margin-left: 45px;
    width: 539px;
 }

 @media (max-width: 834px){
    h1{
        font-size: 37px;
    }

    .usuario img{
        width: 120px;
        height: 120px;
    }
    .info-user h2 {
        font-size: 25px;
    }
    .info-user p{
        font-size: 20px;
    }

    .mensagem button{
        font-size: 25px;
    }

    .info-card img{
        width: 69px;
        height: 69px;
    }
    .user-content h2{
        font-size: 22px;
    }
    .user-content p{
        font-size: 15px;
    }

    .mensagem-content{
        font-size: 22px;
        margin-left: 75px;
        width: 560px;
    }
 }

 @media (max-width: 480px){
    header{
        justify-content: center;
        margin: 40px 30px;
    }
    h1{
        font-size: 29px;
    }

    .perfil-content img{
        width: 100%;
    }

    .usuario{
        margin-bottom: 0px;
    }
    .usuario img{
        width: 59px;
        height: 59;
        
        bottom: 60px;
    }

    .info-user h2{
        font-size: 14px;
    }
    .info-user p{
        font-size: 12px;
        margin-top: 1px;
    }

    .mensagem{
        font-size: 14px;
    }

    .mensagem button{
        font-size: 20px;
    }

    .card-container{
        width: 360px;
    }

    .info-card img{
        width: 29px;
        height: 29px;
    }

    .user-content h2{
        font-size: 13px;
    }

    .user-content p{
        font-size: 9px;
    }
    .mensagem-content{
        width: 300px;
        margin-left: 35px;
        font-size: 13px;
    }
 }