
body {
  background-color: #343a40; /* Cor de fundo escura */
  color: #fff; /* Texto branco */
}

h1 {
  color: #f8f9fa; /* Título branco */
}

.alert {
  color: #fff; /* Alerta em texto branco */
  background-color: #495057; /* Alerta em fundo cinza escuro */
}

.container {
  background-color: #a19bff; /* Cor de fundo escura para o conteúdo */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 20px;
}